@page "/exercises"
@using WorkoutApp.DTOs
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Exercises</PageTitle>

<h3>Exercises</h3>

<a href="exercise/add" class="btn btn-primary">Add Exercise</a>


<DataGrid TItem="ExerciseDto"
          Data="@ExercisesData"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Editable
          ShowPager
          ShowPageSizes
          Responsive>

    <DataGridColumns>
        <DataGridColumn TItem="ExerciseDto" Field="Description" Caption="Description" Editable></DataGridColumn>
        <DataGridColumn TItem="ExerciseDto" Field="Type" Caption="Type" Editable></DataGridColumn>
        <DataGridCommandColumn TItem="ExerciseDto" Caption="Action" ClearFilterCommandAllowed="false">
            <EditCommandTemplate>
                <Button Color="Color.Primary" Clicked="() => EditExercise(context)">Edit</Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger" Clicked="() => OnDeleteButtonClicked(context)">Delete</Button>
                <Modal @ref="modalRef" Closing="@OnModalClosing">
                    <ModalContent Centered>
                        <ModalHeader>
                            <ModalTitle>Confirm Delete</ModalTitle>
                        </ModalHeader>
                        <ModalBody>
                            Are you sure you want to delete the "@SelectedExercise?.Description" exercise?
                        </ModalBody>
                        <ModalFooter>
                            <Button Color="Color.Secondary" Clicked="@CloseModal">No</Button>
                            <Button Color="Color.Primary" Clicked="@TryCloseModal">Yes</Button>
                        </ModalFooter>
                    </ModalContent>
                </Modal>
            </DeleteCommandTemplate>
           
        </DataGridCommandColumn>
    </DataGridColumns>

</DataGrid>

