@page "/exercises"
@using WorkoutApp.DTOs
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Exercises</PageTitle>

<Heading Size="HeadingSize.Is2" Padding="Padding.Is3" TextAlignment="TextAlignment.Center">Exercises</Heading><hr />

<a href="exercise/add" style="color: #fff;" class="PrimaryButton">Add Exercise -></a><br /><br />


<DataGrid TItem="ExerciseDto"
          Data="@ExercisesData"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Editable
          ShowPager
          ShowPageSizes
          Hoverable
          Narrow
          Responsive>

    <DataGridColumns>
        <DataGridColumn TItem="ExerciseDto" Field="Type" Caption="Type" TextAlignment="TextAlignment.Center"></DataGridColumn>
        <DataGridColumn TItem="ExerciseDto" Field="Description" Caption="Description" TextAlignment="TextAlignment.Center"></DataGridColumn>
        
        <DataGridCommandColumn TItem="ExerciseDto" TextAlignment="TextAlignment.Center" DeleteCommandAllowed="true">
            <EditCommandTemplate>
                <Button Color="Color.Warning"  Size="Size.Small" Clicked="() => EditExercise(context)">Edit</Button>
            </EditCommandTemplate>
            <DeleteCommandTemplate>
                <Button Color="Color.Danger"  Size="Size.Small" Clicked="() => OnDeleteButtonClicked(context)">Delete</Button>
                <Modal @ref="modalRef" Closing="@OnModalClosing">
                    <ModalContent Centered>
                        <ModalHeader>
                            <ModalTitle>Confirm Delete</ModalTitle>
                        </ModalHeader>
                        <ModalBody>
                            Are you sure you want to delete the "@SelectedExercise?.Description" exercise?
                        </ModalBody>
                        <ModalFooter>
                            <Button Class="SecondaryButton" Style="color: #fff" Clicked="@CloseModal">No</Button>
                            <Button Class="PrimaryButton" Style="color: #fff" Clicked="@TryCloseModal">Yes</Button>
                        </ModalFooter>
                    </ModalContent>
                </Modal>
            </DeleteCommandTemplate>
           
        </DataGridCommandColumn>
    </DataGridColumns>

</DataGrid>
