@page "/exerciselogs"
@attribute [StreamRendering]

<PageTitle>Exercise Logs</PageTitle>

<h3>ExerciseLogs</h3>


<DataGrid TItem="ExerciseLog"
          Data="@exerciseLogs"
          Filterable
          FilterMethod="DataGridFilterMethod.StartsWith"
          Responsive>

    <DataGridColumn TItem="ExerciseLog" Field="Reps" Caption="Repetitions"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="Duration" Caption="Duration"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="ExerciseId" Caption="ExerciseId"></DataGridColumn>
    <DataGridColumn TItem="ExerciseLog" Field="WorkoutId" Caption="WorkoutId"></DataGridColumn>

</DataGrid>

